<html>

<head>
  <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
  <meta name=Generator content="Microsoft Word 14 (filtered)">
  <style>
    <!--
    /* Font Definitions */
    @font-face {
      font-family: Poppins;
      panose-1: 5 0 0 0 0 0 0 0 0 0;
    }
    /* Style Definitions */
    p.MsoNormal,
    li.MsoNormal,
    div.MsoNormal {
      margin: 0cm;
      margin-bottom: .0001pt;
      font-size: 12.0pt;
      font-family: "Poppins", "serif";
    }

    h1 {
      mso-style-link: "Heading 1 Char";
      margin-top: 12.0pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 0cm;
      margin-bottom: .0001pt;
      page-break-after: avoid;
      font-size: 16.0pt;
      font-family: "Poppins", "sans-serif";
      color: #2E74B5;
      font-weight: normal;
    }

    h2 {
      mso-style-link: "Heading 2 Char";
      margin: 0cm;
      margin-bottom: .0001pt;
      text-align: justify;
      page-break-after: avoid;
      font-size: 14.0pt;
      font-family: "Poppins", "sans-serif";
      font-weight: bold;
    }

    h4 {
      mso-style-link: "Heading 4 Char";
      margin-top: 2.0pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 0cm;
      margin-bottom: .0001pt;
      page-break-after: avoid;
      font-size: 12.0pt;
      font-family: "Poppins", "sans-serif";
      color: #2E74B5;
      font-weight: normal;
      font-style: italic;
    }



    span.MsoFootnoteReference {
      vertical-align: super;
    }

    p {
      margin-right: 0cm;
      margin-left: 0cm;
      font-size: 12.0pt;
      font-family: "Poppins", "serif";
    }


    /* Page Definitions */
    @page WordSection1 {
      size: 595.3pt 841.9pt;
      margin: 70.85pt 3.0cm 70.85pt 3.0cm;
    }

    div.WordSection1 {
      page: WordSection1;
    }

    /* List Definitions */
    ol {
      margin-bottom: 0cm;
    }

    ul {
      margin-bottom: 0cm;
    }
    -->
  </style>

</head>

<body lang=PT-BR link=blue vlink="#954F72">

  <div class=WordSection1>
    <p class=MsoTocHeading align=center style='text-align:center'>
      <b><span style='color:windowtext'>REPÚBLICA DE ANGOLA</span></b><br><br />
      <b><span style='color:windowtext'>MINISTÉRIO DO INTERIOR</span></b><br><br />
      <b><span style='color:windowtext'>POLÍCIA NACIONAL</span></b>
    </p>


    <p class=MsoNormal>&nbsp;</p>


  </div>

</body>

</html>
